<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/user.png"></a>
  </div>
  <div class="user-intro center-align">
    <h4 class="hidden">alex@nosecurity.blog</h4>
  </div>
  <div class="user-content">
    <p>
      I'm Alex, an information security student in the United States. I currently hold CompTIA's Security+ and Cybersecurity Analyst+ certifications.</p>
    <p>
      I moved to the US from Russia when I was young, please send all the best Russian hacker jokes my way. 
    </p>
    <p>
      This blog is for my research, writing samples and writeups. I take particular interest in web application security, cybercrime and security as it relates to international relations.
    </p>
  </div>
</div>
