<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/user.png"></a>
  </div>
  <div class="user-intro center-align">
    <h4 class="hidden">alex@nosecurity.blog</h4>
  </div>
  <div class="user-content">
    <p>
      I'm Alex, a young information security student in the United States. I started this blog to document my journey in information security. I make CTF writeups, I write about Open Source Intelligence and cyber security as a whole. If you would like to support my writing, please share it. If you would like to get in touch with me, email me.
    </p>
  </div>
</div>
