<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/user.png"></a>
  </div>
  <div class="user-intro center-align">
    <h4 class="hidden">alex@nosecurity.blog</h4>
  </div>
  <div class="user-content">
    <p>
      I'm Alex, a young Russian immigrant studying information security in the United States. Please send all the best Russian hacker jokes my way.</p>
    <p>
      I moved to the United States at the age of 16 as an international student and over time became a resident. I realized that cybersecurity is on the crossroads of my values and interests, so I decided to fully commit to pursuing it.
    </p>
    <p>
      I use this blog to express my opinions and concerns, as well as to help others by posting relevant and helpful information from time to time. My main topics of interest are Open Source Intelligence, the politics of cybersecurity, web application hacking and the legal structure of information security, though my writing isn't limited to any one of them.
    </p>
  </div>
</div>
